api/.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock
tests/mocks/database/ci_test.sqlite

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

#interfaz
interfaz/.DS_Store
interfaz/node_modules
# local env files
interfaz/.env.local
interfaz/.env.*.local
# Log files
interfaz/pnpm-debug.log*

# Editor directories and files
interfaz/.idea
interfaz/.vscode
interfaz/*.suo
interfaz/*.ntvs*
interfaz/*.njsproj
interfaz/*.sln
interfaz/*.sw?
